.containerabout {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    align-items: center;
    font-family: var(--font-family);
}

.firstcontainer {
    margin-top: 6em;

}

.describle {
    width: 80%;
    font-size: 1.15em;
    margin-bottom: 1em;
    line-height: 30px;
}
.describle span, .firstcontainer h2 span{

    color: #cc313c;
}

.firstcontainer h2 {
    font-size: 2.5em;
    margin-bottom: .48em;
}

.containercountandtext {

    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 40%;
}

.countandtext {
    display: flex;
    flex-direction: column;
}

.countandtext h3 {
    font-size: 2.5em;
    font-weight: 700;
    color: #cc313c;
}

.countandtext p {
    width: 50%;
}

.containerconteudo {
    height: 200px;
    border-radius: 0px 0px .48em .48em;
    -webkit-border-radius: 0px 0px .48em .48em;
    -moz-border-radius: 0px 0px .48em .48em;
    background-color: #4f008819;
}

.nav {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    background-color: #74acff19;
    padding: .75em 0;
    border-radius: .48em .48em 0 0;

}

.navbutton {
    color: #fff;
    font-size: 1.48em;
    font-weight: 700;
    background-color: #00000000;
    border: none;
}

.ativo {
    font-size: 1.48em;
    font-weight: 700;
    border: none;
    color: #cc313c;
    background-color: #00000000;
    border-bottom: 1px solid #cc313c;
}

.navbutton:hover {
    cursor: pointer;
    color: #cc313c;
}

.divconteudo {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
}

.divconteudo p,
a,
.divimgicons {
    margin-left: 1em;
    margin-top: 1em;
}

.divimgicons {
    display: flex;
    align-items: center;
    gap: .55em;
}

.divimgicons img {
    width: 36px;
    height: auto;
}

.divconteudo a {
    background-color: var(--color-secondary);
    color: white;
    text-decoration: none;
    padding: 1em;
    border-radius: 1em;
    gap: 4px;
    display: flex;
    align-items: center;
}

.divconteudo a:hover {
    background-color: #cc313c;
}

.divconteudo a img {
    width: 24px;
    height: auto;
}
@media  screen and (max-width: 1126px) {
    .firstcontainer{
        margin-top: 1em;
    }
}
@media screen and (max-width: 880px){
    .containerabout{
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }
}