.container {
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    font-family: var(--font-family);
}

.describle {
    width: 70%;
    font-size: 1.5em;
    margin-bottom: 1em;
    line-height: 30px;
}
.describle span{
    color: #cc313c;
}

.containercountandtext {

    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 40%;
}

.countandtext {
    display: flex;
    flex-direction: column;
}

.countandtext h3 {
    font-size: 2em;
    font-weight: 700;
    color: #cc313c;
}

.countandtext p {
    width: 50%;
}

.nav {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    margin-bottom: 2em;
}

.navbutton {
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #00000000;
    border: none;
}
.ativo {
    font-size: 1.3em;
    font-weight: 700;
    border: none;
    color: #cc313c;
    background-color: #00000000;
  }

.navbutton:hover {
    cursor: pointer;
    color: #cc313c;
}

.divconteudo {
    display: flex;
    gap: 2em;
    align-items: center;
    margin-bottom: 1em;
}

.divimgicons {
    display: flex;
    align-items: center;
    gap: .55em;
}

.divimgicons img {
    width: 36px;
    height: auto;
}

.divconteudo a {
    background-color: var(--color-secondary);
    color: white;
    text-decoration: none;
    padding: 1em;
    border-radius: 1em;
    gap: 4px;
    display: flex;
    align-items: center;
}
.divconteudo a:hover{
    background-color: #cc313c;
}

.divconteudo a img {
    width: 24px;
    height: auto;
}
