.container{
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    background-color: var(--color-secondary);
    right: 20px;
    padding: 1em;
    border-radius: 1em;
    top: 320px
}
.container img{
    width: 36px;
    height:auto;
}