.container{
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    background-color: var(--color-secondary);
    right: 40px;
    padding: 1.5em .75em;
    border-radius: 1em;
    top: 320px
} 
.container img{
    width: 38px;
    height:auto;
}
.container img:hover{
    cursor: pointer;
}

.container a {
    text-decoration: none;
}
.message{
    color: #000000;
    position: absolute;
    left: -80px;
    background-color: var(--color-secondary);
    border: none;
    padding: 1em;
    display: none;
}

.divicon{
    position:relative;
}
.divicon p{
    z-index: 0;
    opacity: 0;
    position: absolute;
    left: -80px;
    top: 30px;
    background-color: #fdfcfc;
    padding: .48em;
    color: black;
    border-radius: 76px 0px 77px 77px;
    -webkit-border-radius: 76px 0px 77px 77px;
    -moz-border-radius: 76px 0px 77px 77px;
}
.divicon:hover p{
    transition: opacity .8s;
    opacity: 1;
}