.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-secundaria);
    padding: .70em 0;
}
.container h2{
    margin-left: 2em;
}
.container div{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-right: 2em;
}
.img{
    width: 34px;
    height: 34px;
}