.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-secundaria);
    padding: .75em 0;
    margin-bottom: 2em;

}
.container h2{
    margin-left: 3em;
    font-family: var(--font-nabla);
    font-size: 1.75em;
}
.container div{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-right: 3em;
}
.img{
    background-color: var(--cor-de-fundo);
    padding: .5em;
    border-radius: 50%;
    width: 54px;
    height: auto;
}
.img:hover{
    width: 56px;
    padding: 0;
}