.container {
   
    margin-top: 1em;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: var(--cor-secundaria);
    border-radius: 1em;
    padding: 1em;
   
}
.parte1 .img1{
    background-color: var(--cor-terci);
    border-radius: 1em;
}.parte1 div{
    gap: 1em;
    display: flex;  
    align-items: center;
    justify-content: center;
}
.parte1 div p{
    font-size: 1em;
}
.parte1 div img{
    height: 2em;
    width: auto;
}

.parte2 h2 {
    margin: 1em 0;
    font-family: var(--font-nabla);
    text-align: center;
    font-size: 2em;
}
.parte2{
    display: flex;
    flex-direction: column;

}
.parte2 p{
    height: 250px;
    overflow: hidden;
    overflow-y: scroll;
    text-indent: 1em;
}
.parte2 div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 2em;
}
.parte2 a{
    color: var(--text-cor);
    font-size: 2em;
    border-radius: 1em;
    padding: 1em;
    text-decoration: none;
    border: none;
    background-color: var(--cor-terci);
}
.parte2 img{
    width: 56px;
    height: auto;
}