.itemcontainer{
background-color: var(--cor-secundaria);
display: grid;
grid-template-columns: 40% 60%;
border-radius: 1em;
margin: .8em 0;
height: 400px;
}


.disponivelspan{
    display: flex;
    align-items: center;
    justify-content: center;
}
.disponivelspan img{
    width: 40px;
    height: auto;
}
.parte1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.imagemprojeto{
    width: 250px;
    height: auto;
    background-color: var(--cor-terci);
    border-radius: 1em;
}
.parte2 h3{
    font-family: var(--font-nabla);
    font-size: 1.75em;
    text-indent: 3em;
    margin: 1em 0
}
.btnandtec{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    margin-top: 1em;
}
.btnandtec button{
    background-color: var(--cor-de-fundo);
    padding: 1em;
    border-radius: 1em;
    border: none;
    font-size: 1.45em;
    font-family: var(--font-handjet);
}
.btnandtec a{
    text-decoration: none;
    color: white;

}