.itemcontainer{
background-color: var(--cor-secundaria);
display: grid;
grid-template-columns: 40% 60%;
border-radius: 1em;
margin: .8em 0;
height: 400px;
}

.descricaoitem{
    overflow: hidden;
    overflow-y: scroll;
    width: 65%;
    height: 200px
}
.disponivelspan{
    display: flex;
    align-items: center;
    justify-content: center;
}
.parte1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagemprojeto{
    width: 250px;
    height: auto;
    background-color: var(--cor-terci);
    border-radius: 1em;
}
.parte2 h3{
    
    margin: 1.5em 0 1.5em 8em ;
}
.btnandtec{
    display: flex;
    align-items: center;
    margin-top: 1em;
}
.btnandtec button{
    background-color: var(--cor-de-fundo);
    padding: 1em;
    border-radius: 1em;
    border: none;
    
}
.btnandtec a{
    text-decoration: none;
    color: white;

}