.container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;
    font-family: var(--font-family);
    font-weight: 400
}
.container div{
    border: 1px solid white;
    
}
.container div h2{
  font-weight: 700;
  font-size: 2.5em;
  margin-bottom: .70em;
}
.container div h2 span{
    color: #cc313c;
}
