.container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;
    font-family: var(--font-family);
    font-weight: 400
}

.container div h2{
  font-weight: 700;
  font-size: 2.5em;
  margin-bottom: .70em;
}
.container div h2 span{
    color: #cc313c;
}

.containerImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1.2em;
    margin-bottom: 1em;
}
.divimg img {
    width: 400px;
    height:auto;
    border-radius: .80em ;
    z-index: 999;
}

.div{
    position: relative;
}
.title{
    background-color: rgba(98, 47, 137, 0.587);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%;
    height: 100%;
    z-index: 9;
}

.title h4{
    padding-bottom: 1em ;
}
.title a{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: .48em;
    border-radius: .45em;
    
}