.containerproject {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
}
.description{
    line-height: 30px;
    width: 80%;
}
.description span{
    color: #cc313c;
}
.containerproject div h2 {
    font-weight: 700;
    font-size: 4em;
    margin-bottom: .70em;
}

.containerproject div h2 span {
    color: #cc313c;
}

.containerprojectImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1.2em;
    margin-bottom: 1em;
}

.divimg img {
    width: 400px;
    height: auto;
    border-radius: .80em;
    transition: transform 0.5s ease; 
    z-index: 1;
}

.div {
    position: relative;
}


.title {
    text-align: center;
    border-radius: .80em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -84%); 
    width: 400px;
    height: 100%;
    z-index: 0;
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.5s ease;
}

.title a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    border-radius: .45em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.div:hover .title {
    transform: translate(-50%, -100%); 
    z-index: 1;
    opacity: 1;
}

.div:hover img {
    box-shadow: rgba(108, 27, 169, 0.935) 0px 7px 29px 0px, 0px 0px 0px 10px rgba(108, 27, 169, 0.4);
    opacity: .2;
}

.div:hover {
    transform: scale(1.06) rotateZ(1deg);
    transition: transform 0.5s ease;
}
.buttondiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    background-color: rgba(0, 0, 0, 0);
    border: none;

}
.button:hover{
    cursor: pointer;
}
.button img{
    
    width:36px;
    height:auto;
}
@media screen and (max-width:1468px) {
    .divimg img{
        width: 350px;
        height:auto;
    }
    .button img{
        width: 32px;
        height:auto;
    }
}
@media screen and (max-width: 1288px) {
    .containerproject{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .containerproject .description{
        width: 80%;
        margin: 0 auto;
    }
    .divimg img{
        width: 300px;
        height: auto;
    }
    .button img{
        width: 32px;
        height:auto;
    }
}
@media screen  and (max-width:645px){
    .divimg img{
        width: 250px;
        height:auto;
    }
    .button img{
        width: 32px;
        height:auto;
    }
}
@media screen and (max-width: 645px){
    .containerproject{
        width: 100%;
    }
    .containerproject div h2{
        font-size: 3em;
        width: 100%;
    }
    .divimg img{
        width: 180px;
        height:auto;
    }
    .button img{
        width: 24px;
        height:auto;
    }
}