.preload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.preload img{
    animation: rotar 2s infinite linear;
    width: 95px;
    height:auto;
}
@keyframes rotar {
    to{
        transform: rotate(360deg);

    }
   
}