.container {
    margin: .80em 0;
    display: grid;
    grid-template-columns: 55% 45%;
    animation: test 1s  linear;
}
@keyframes test {
    0%{
        margin-left: 10px;
    }
    100%{
     margin-left: 0;
    }
}
.apresentacao {
    margin-left: 1.5em;
    padding: 1.75em;
    width: 80%;
    border-radius: 1em;
    background-color: var(--cor-secundaria);

}


.apresentacao h2 {
    text-indent: .75em;
    display: flex;
    text-align: center;
    align-items: center;
    gap: .45em;
    padding-top: .2em;
    font-size: 2.5em;
    margin-bottom: .75em;
    font-family: var(--font-nabla);

}

.apresentacao p {
    text-indent: 1em;
    font-size: 1.22em;
    padding-bottom: .80em;
}

.habilidades {
    font-family: var(--font-nabla);
    font-size: 1.75em;
    margin-left: 1.5em;
    padding: 1.5em;
    border-radius: 1.20em;
    width: 60%;
    margin-top: 0.7em;
    background-color: var(--cor-secundaria);

}

.habilidades div {
    margin-top: 0.8em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.habilidades div img {
    width: 56px;
    height: auto;
}

.habilidades div img:hover {
    width: 46px;
}

.sobremim {
    background-color: var(--cor-secundaria);
    border-radius: 6em 0 0 6em;
    left: -100px;
    position: relative;
   
}


.sobremim div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .45em;
}

.imgGif {
    margin-top: 1em;
    width: 480px;
    height: auto;
    background-color: var(--cor-de-fundo);
    border-radius: 1em;
}

.sobremim button {
    font-size: 1.45em;
    font-family: var(--font-DynaPuff);
    margin-top: 1em;
    display: flex;
    align-items: center;
    border: none;
    color: var(--text-cor);
    padding: 1em 2em;
    border-radius: 10em;
    background-color: var(--cor-de-fundo);
}

.sobremim button:hover {
    font-size: 1.90em;
    margin-top: .70em;
    padding: .80em 1.50em;
}

.exp {
    background-color: var(--cor-secundaria);
    border-radius: 1em;
    font-size: 1.75em;
    margin-left: 2em;
    margin-top: .75em;
    padding: 1em;
    display: inline-block;
}

.exp span {
    font-family: var(--font-nabla);
}

.superman {
    width: 150px;
    height: auto;
    position: absolute;
    transform: rotate(265deg);
    left: -5em;
    bottom: 0;
}

.descricaominha {
    transition: all .6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0e0b22ca;
    font-size: 1.75em;
}


.descricaominha .div {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2em 0;
    border-radius: 2em;
    width: 80%;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    z-index: 999999;
    background-color: var(--cor-secundaria);
}

.descricaominha div img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.descricaominha .divImagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}




.descricaominha .btnclose {
    width: 45px;
    height:auto;
    padding: .60em;
    border-radius: 1em;
    color: white;
    border: none;
    position: absolute;
    top: -20px;
    right: 0;
    background-color: var(--cor-terci);
}

.divbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}