
.container{
    margin-top: .90em;
    display: grid;
    grid-template-columns: 55% 45%;
}
.apresentacao{
    margin-left: 1.5em;
    padding: 1.5em;
    width: 90%;
    border-radius: 1em;
    background-color: var(--cor-secundaria);
}
.apresentacao h2{
    display: flex ;
    text-align: center;
    align-items: center;
    gap: .45em;
    padding-top: 1em;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-family: var(--font-nabla);
    
}
.apresentacao p{
    font-size: 1.75em;
}
.habilidades{
    font-family: var(--font-nabla);
    font-size: 1.75em;
    margin-left: 1.5em;
    padding: 1.5em;
    border-radius: .8em;
    width: 60%;
    margin-top: 1em;
    background-color: var(--cor-secundaria);
    
}
.habilidades div{
    margin-top: 0.8em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.habilidades div img{
    width: 56px;
    height: 56px;
}
.sobremim{
    background-color: var(--cor-secundaria);
    padding: 4em 0;
    border-radius: 6em 0 0 6em;
}
.sobremim div{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: .45em;
}
.imgGif{
    margin-top: 1em;
    width: 480px;
    height: auto;
    background-color: var(--cor-de-fundo);
    border-radius: 1em;
}
.sobremim button{
    font-size: 1.45em;
    font-family: var(--font-DynaPuff);
    margin-top: 1em;
    display: flex;
    align-items: center;
    border: none;   
    color: white;
    padding: 1em 2em;
    border-radius: 10em ;
    background-color: var(--cor-de-fundo);
}