:root{
 
    --color-text:#363636;
    --color-sec: #fff;
}

.main{

    height: 100vh;
}
.item-lista{
    text-decoration: none;
    color: var(--color-text);
}
.item-lista:hover{
   color: var(--color-sec);
}
.ativo{
    color: var(--color-sec);
}
