:root{
 
    --color-text:#ffff;
    --color-sec: #CC313C;
}

.main{
    
    position: relative;
    height: 100vh;
}
.item-lista{
    text-decoration: none;
    color: var(--color-text);
   
}
.item-lista:hover{
   color: var(--color-sec);
}
.ativo{
    color: var(--color-sec);
}
.sobre{
    position: absolute;
    text-decoration: none;
    color: var(--color-text);
    right: 1.9em;
    top: 1em;
}
