.cont {
    width: 80%;
    margin: 0 auto;
}

.cont h2 {
    align-items: center;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
}

.cont h2 span {
    color: #cc313c;
}

.containercontacts {
    display: flex;
    justify-content: space-between; 
    margin: 1em auto 0 auto;
    gap: 20px;
}


.containerinputs {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.containercontacts button {
    margin-top: .48em;
    border: none;
    color: #b7b5b5;
    background-color: var(--color-secondary);
    font-size: 1.75em;
    padding: .6em;
    font-weight: 700;
    border-radius: .2em;
}

.containercontacts button:hover {
    cursor: pointer;
    color: white;
    background-color: #cc313c;
}

.containerinputs input {
    padding: .78em 0;
    display: inline-block;
    width: 30%;
    background-color: var(--color-secondary);
    border: none;
    padding-left: 1em;
    color: white;
    border-radius: .68em;
}

.containerinputs input::placeholder {
    font-size: 1.5em;
    text-align: start;
    color: white;
}

.textarea {
    border-radius: .68em;
    width: 600px;
    height: 200px;
    resize: none;
    padding: 10px;
    background-color: var(--color-secondary);
    font-size: 1.5em;
    color: white;
    border: none;
}


.containerpart1 {
    width: 100%;
}

.containerpart2 {
    width: 90%;
    margin: 0 auto;

}

.containerpart2 h3 {
    font-family: var(--font-family);
    font-weight: 700;
    margin-top: 4em;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.containerpart2 h4 {
    font-family: var(--font-family);
    margin-top: 1em;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 1em;

}

.containerpart2 p {
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 20px;
    margin-bottom: .60em;
    font-size: .78em;
}

.divnetworks {
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.divbtnenviar a:hover{
    cursor: pointer;
}


@media screen and (max-width:1206px) {
    .cont{
        width:90%;
    }
}
@media screen and (max-width: 1080px){
    .containercontacts{
        flex-direction:column;
        gap: 0;
    }
   
    .divnetworks{
        width: 100%;
    }
    .containerpart2{
        text-align: center;
    }
    .divbtnenviar{
        display: flex;
        border: 1px solid 1em;
        align-items: end;
    }
    .containercontacts button{
        padding: .48em;
        font-size: 1.5em;
    }
    .textarea{
        width: 60%;
        height: 50px;
    }
}
