.navBar{
    display: flex;
    margin: 2em auto 9em auto;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.navBar div{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navBar h1{
    font-size: 1.48em;
    font-weight: 700;
}
.navBar h1 span{
    font-weight: 400;
}
.navBar img{
    width: 24px;
    height:auto;
}
